.next-events{
    text-align: center;
}
.event-info{
    text-align: left;
}
.event-name{
    font-size: 30px;
}
input{
    margin-bottom: 5px;
}
.banner{
    color: #fff;
    padding: 50px 20px 30px;
    text-align: center;
    margin-bottom: 15px;
    background-color: #343a40;
}
.people-going > .card{
    background-color: #9c9c9c;
}